* {
    font-family: 'Space Grotesk' !important;
}

#avatar-link.ytd-rich-grid-media {
    display: none;
}

ytd-video-meta-block.grid #channel-name.ytd-video-meta-block,
.ytd-video-meta-block[meta-block].grid #channel-name.ytd-video-meta-block {
    padding: 2px 12px;
    border: none;
    border-radius: 40px;
    background-color: #ffffff17;
}

ytd-badge-supported-renderer.ytd-channel-name {
    margin-right: 0;
}

ytd-video-meta-block.grid #metadata.ytd-video-meta-block,
ytd-video-meta-block.compact #metadata.ytd-video-meta-block,
.ytd-video-meta-block[meta-block].grid #metadata.ytd-video-meta-block,
.ytd-video-meta-block[meta-block].compact #metadata.ytd-video-meta-block {
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

#container.ytd-searchbox {
    border: none;
    border-radius: 40px;
    background-color: #ffffff17;
    overflow: hidden;
}

#search-icon-legacy.ytd-searchbox {
    display: none;
}

#center.ytd-masthead {
    flex: 0 1 400px;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    border: none;
    border-radius: 10px;
    background-color: #00000057;
    backdrop-filter: blur(10px);
}

ytd-mini-guide-renderer.ytd-app {
    top: 34%;
    border-radius: 40px;
}

#items.ytd-mini-guide-renderer {
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

ytd-mini-guide-entry-renderer[system-icons][is-active] .title.ytd-mini-guide-entry-renderer,
ytd-mini-guide-entry-renderer[system-icons] .title.ytd-mini-guide-entry-renderer {
    display: none;
}

ytd-mini-guide-entry-renderer[is-active] .guide-icon.ytd-mini-guide-entry-renderer {
    padding: 0;
    margin: 0;
}

a.ytd-mini-guide-entry-renderer {
    padding: 14px 0 14px;
}

.guide-icon.ytd-mini-guide-entry-renderer {
    margin-bottom: 0;
}

ytd-mini-guide-entry-renderer {
    border-radius: 80px;
}

#background.ytd-masthead {
    background-color: #00000057;
    backdrop-filter: blur(10px);
}

#buttons.ytd-masthead>*.ytd-masthead:not(:last-child) {
    display: none;
}

#guide-button.ytd-masthead {
    display: none;
}

/* Video Player */
#top-row.ytd-watch-metadata {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    border-radius: 8px;

}

ytd-watch-metadata {
    border-radius: 10px;
}

.ryd-tooltip-bar-container {
    display: none;
}

/* restore main design */
#columns.ytd-watch-grid {
    flex-direction: row-reverse;
}

#primary.ytd-watch-grid {
    margin-left: 0;
}

#secondary.ytd-watch-grid {
    margin-right: 0;
}

ytd-watch-grid[cinematics-enabled] #secondary.ytd-watch-grid {
    width: 35%;
}

ytd-watch-metadata #description.ytd-watch-metadata {
    border-radius: 8px;
    background-color: #ffffff12;
}

#sponsor-button.ytd-video-owner-renderer:not(:empty),
#purchase-button.ytd-video-owner-renderer:not(:empty),
#analytics-button.ytd-video-owner-renderer:not(:empty) {
    display: none;
}

#top-row.ytd-watch-metadata {
    padding-bottom: 0px !important;
}

#author-thumbnail.ytd-comment-renderer {
    scale: 0.8;
}

ytd-multi-page-menu-renderer {
    background-color: rgba(0, 0, 0, .6);
}

ytd-watch-metadata[skinny-mode] #title.ytd-watch-metadata {
    transition: background-color .3s;
}

ytd-watch-metadata[skinny-mode] #title.ytd-watch-metadata:hover {
    background-color: #ffffff16;
}

#channel-name.ytd-video-owner-renderer {
    color: red !important;
}

ytd-watch-metadata[skinny-mode] ytd-video-owner-renderer.ytd-watch-metadata {
    width: unset;
    background-color: #ffffff16;
    padding: 6px;
    border-radius: 10px;
}

#expander.ytd-comment-replies-renderer {
    display: grid;
    place-items: end;
}

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
    color: #a0a0a0;
}

.ytp-chrome-top,
.ytp-chrome-bottom {
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #0000001f;
    backdrop-filter: blur(3px);
}

/* progress bar */
.ytp-swatch-background-color {
    background-color: #ff743dc4;
}

.ytp-progress-bar-container {
    margin-bottom: 10px;
}

ytd-video-meta-block:not([rich-meta]) #byline-container.ytd-video-meta-block {
    padding: 2px 12px;
    border: none;
    border-radius: 40px;
    background-color: #ffffff17;
}

/* subscribe button */
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text:hover {
    background-color: #ffbbbb29;
}